<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Engine Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl and Eugen Mueller</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  main_app.about_path %></li>
      <li><%= link_to "Contact", main_app.contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>