<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "my_core/application", media: "all", 
                                                      'data-turbolinks-track' => true %>
    <%= javascript_include_tag "my_core/application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shared/shim' %>
  </head>
  <body>
     <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", main_app.root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", main_app.root_path %></li>
            <li><%= link_to "Help", main_app.help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/my_core/footer' %>
    </div>
  
  </body>
</html>

