<% provide(:title, "Home") %>


<div class="center jumbotron">
  <h1>Welcome to Sample Engine App</h1>

  <h2>
    This is the home page for the StaticPages Engine App.
  </h2>

  <%= link_to "Sign up now!", "/signup", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>